{% load static %}
<header class="px-3 py-2 border-bottom mb-3">

      <div class=" d-flex flex-wrap justify-content-center">
          <a href="/" class="d-flex align-items-center me-auto mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">TaskTracker</span>
              </a>
        <div class="ms-auto">

          <a class="text-decoration-none text-dark" href="{% url 'login' %}">
              <button type="button" class="btn btn-light text-dark me-3">Log in</button>
              </a>

              <a class="text-decoration-none text-white" role="button" href="{% url 'register' %}">
                  <button type="button" class="btn btn-outline-secondary btn-special text-white me-3">Sign-up</button>
              </a>

        </div>
      </div>
</header>